.searchMenu {
    display: flex;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
    /* border: 2px solid red; */
    width: 100%;
    position: relative;
    
}

.MuiButtonGroup-root {
    border: 2px solid white;
    float: left;
    margin: 1em;
}

.MuiFormControl-root {
    /* border: 2px solid purple; */
    float: left;
    top: 1.9em;
    bottom: 0;
    right: 20px;
    left: 20px;
}

.MuiSlider-root {
    /* border: 2px solid orange; */
    float: left;
    top: 1em;
    bottom: 0;
    right: 2em;
    left: 2em;
}

.MuiIconButton-root {
    /* border: 2px solid teal; */
    float: left;
    /* margin: 2.8em; */
    font-family: "Bahnschrift";
    top: 1.75em;
    bottom: 0;
    left: 4em;
    right: 4em;
}